    body {
      background: linear-gradient(#CCFFFF, #CCCCFF) fixed;
      font-family: Arial, sans-serif;
      text-align: center;
      padding: 20px;
    }
    h1 {
      color: #CC66FF;
    }
    img {
      display: block;
      margin: 20px auto;
      max-width: 100%;
      height: auto;
      border-radius: 10px;
    }
    .container {
      margin-top: 20px;
    }
 button {
      background-color: #CC33FF;
      color: white;
      padding: 10px 20px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      font-size: 1em; 
      margin-top: 20px;
    }
    button:hover { 
      background-color: #CC99FF; 
